node_modules
.elasticbeanstalk/
.jshintrc
public/bundle.js
npm-debug.log
.ebextensions

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

