/*HTML TAGS*/
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: center;
}

h2, h5, h6 {
  text-align: center;
}


/*CLASSES*/
.mainTitle{
  text-align: center;
}

.root{
  text-align: center;
}

.toolbar{
  display: inline-block;
}


/*IDs*/
