/*@media (max-width: 1050px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
*/
/*HTML TAGS*/
body {
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: center;
}

h2, h5, h6 {
  text-align: center;
}


/*CLASSES*/
.aboutPic {
  max-width: 15%;
  height: auto;
  border-radius: 20px;
}

.addBorder {
  border: 1px solid grey;
  border-radius: 10px;
  padding-left: 25px;
}

.avatarPics {
  width: 150px;
  height: 100px;
  border-radius: 20px;
}

.avatarSmPics {
  width: 60px;
  height: 40px;
  border-radius: 20px;
}

.mainPics {
  max-width: 50%;
  height: auto;
  border-radius: 20px;
}

.mainTitle{
  text-align: center;
}

.profileView {
  text-align: center;
}

.root {
  text-align: center;
}

.toggle {
  display: none;
}

.toolbar{
  display: inline-block;
}


/*IDs*/
