/*HTML TAGS*/
body {
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: center;
}

h2, h5, h6 {
  text-align: center;
}


/*CLASSES*/
.avatarPics {
  height: 100px;
  width: 100px;
}
.avatarSmPics {
  height: 60px;
  width: 60px;
}
.mainTitle{
  text-align: center;
}

.profileView {
  text-align: center;
}

.root{
  text-align: center;
}

.toolbar{
  display: inline-block;
}


/*IDs*/
